.header {
  background-color: #000;
  width: 98.7vw;
}

.top-line {
  max-width: 56.25vw;
  height: 2.75rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: "PT Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.333333;
  letter-spacing: 0em;
  text-align: left;
  color: #969696;
}

.first-contacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.phone {
  padding-right: 1em;
}

.work-days {
  padding-left: 1em;
  padding-right: 1em;

  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}

.work-time {
  padding-left: 1em;
}

.login {
  height: 2.75rem;
  padding-left: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #969696;

  &:hover {
    color: #FFFFFF;
    text-decoration: none;
  }
}

.bottom-line {
  max-width: 56.25vw;
  height: 5rem;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Post No Bills Jaffna', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.5;
  color: #FFF
}

.navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation-button {
  height: 5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2857142;
  text-transform: uppercase;
  color: #969696;

  &:hover {
    background-color: #1F1F1F;
    color: #FFFFFF;
    text-decoration: none;
  }
}

.bucket,
.search {
  padding-right: 0;
  height: 5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2857142;
  text-transform: uppercase;
  color: #FFFFFF;
}

.bucket {
  padding-left: 0.5rem;
}

.search {
  padding-left: 1rem;
}

@media screen and (max-width: 810px) {
  .bottom-line,
  .top-line {
    max-width: 90vw;
  }
}

@media screen and (max-width: 550px) {
  .top-line {
    height: 4rem;
  }

  .work-days,
  .work-time {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .top-line {
    height: 6rem;
  }
}
