.our-partners {
  width: 98.7vw;
  height: 31rem;

  padding-top: 2rem;
}

.our-partners-view {
  width: 72.0833%;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.our-partner {
  height: auto;
}

.coco {
  width: 26.6632%;
}

.rolex {
  width: 23.1598%;
}

.brequet {
  width: 20.1688%;
}

.haven {
  width: 27.1688%;
}
